/*mobile-first design*/

.bookmark-controls, h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

li {
    border: 5px solid #3f88c5;
    margin-bottom: 5px;
    font-family: monospace;
}

.bookmark-title h2, p {
    flex-direction: row;
    justify-content: flex-end;
}

button, select {
    font-family: Courier;
}

button {
    background-color: #ffba08;
}

select {
    border-color: #ffba08;
    border-width: 3px;
}

h1, h2, h3 {
    color: #d00000;
    font-family: monospace;
}

.new-bookmark-form {
    display: flex;
    flex-direction: column;
    border: 5px solid #3f88c5;
    padding: 20px;

}
